@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');

.login-page {
    font-family: "Radley";
}


.login-page {
    height: 100vh;
    width: 100vw;
}

.outer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height:85%;
    
}

.outer-o-box {
    background-color: #232D4B;
    width: 100%;
    height:85%;
    display: flex;
    flex-direction: column;
}

.outer-o-box > h1 {
    margin: 0px;
    font-size: 60px;
    color: white;
    align-self: center;
}

.hero-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box {
    background-color: #F84C1E;
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 5px 20px 10px rgba(203, 203, 203, 0.209);
}

.login-box > button {
    background-color: white;
    font-size: 20px;
    padding: 12px 30px 12px 30px;
    border-radius: 20px;
    transition: all 0.1s linear;
    color: black;
}



.hero-text > h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

.hero-text > p {
    font-size: 30px;
    margin-top: 0px;
}

.bottom-box {
    width:100%;
    height:15%;
    background-color: #F84C1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-box p {
    margin: 0px;
    font-size: 20px;
}

.hero-text > button {
    background-color: #F84C1E;
    font-size: 20px;
    padding: 12px 30px 12px 30px;
    border-radius: 20px;
    transition: all 0.1s linear;
}

.login-box > button:hover {
    transform: scale(1.2);
}